MONGODB_URI=""                       # mongoDB uri, either a mongoDB cloud uri or local port
NEXTAUTH_SECRET=""                   # generate a nextauth secret by running: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000" # default run port
IMAGEKIT_PRIVATE_KEY=""              # setup an imagekit account and retrieve the private key
IMAGEKIT_PUBLIC_KEY=""               # setup an imagekit account and retrieve the public key