@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-backgroundlight: var(--backgroundlight);
  --color-field: var(--field);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-txt: var(--text);
  --color-good: var(--good);
  --color-bad: var(--bad);
  --font-sans: var(--font-public-sans);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #69553b;
    --foreground: #b8a48b;
    --background: #e1d3c1;
    --backgroundlight: #f9f4ec;
    --field: #f3e9db;
    --primary: #57ea83;
    --secondary: #b3f4b3;
    --good: #2dad53;
    --bad: #a22a24;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f9f4ec;
    --foreground: #b8a48b;
    --background: #2e2a28;
    --backgroundlight: #534c48;
    --field: #f3e9db;
    --primary: #15a841;
    --secondary: #0b4c0b;
    --good: #57ea83;
    --bad: #f26868;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Public Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

@utility input-field {
  outline: 3px solid var(--foreground);
  border-radius: var(--radius-lg);
  background-color: var(--field);
  align-items: center;
  padding: calc(var(--spacing) * 2);
}

@utility contrast-text {
  color: var(--color-neutral-900);
  @media (prefers-color-scheme: dark) {
    color: #f3e9db;
  }
}

