@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #302312;
    --foreground: #302312;
    --background: #efe9dc;
    --primary: #57ea83;
    --secondary: #b3f4b3;
    --accent: #37c862;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ede0cf;
    --foreground: #ede0cf;
    --background: #231d10;
    --primary: #15a841;
    --secondary: #0b4c0b;
    --accent: #37c862;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Public Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}
